.SectionFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;

  & .SectionFooter__links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 64px;

    @media (--desktop) {
      padding: 0 256px;
    }
  }

  & .SectionFooter__linkIcon {
    width: 48px;
    height: 48px;
    stroke: var(--textColor);
  }
}
